$media_iPhone4:   "screen and (min-width:320px) and (min-height:480px) and (max-height: 490px)";
$media_iPhone5:   "screen and (min-width:320px) and (min-height:568px)";
$media_iPhone6:   "screen and (min-width:375px) and (max-width:550px) and (min-height:627px) and (max-height:800px)";
$media_iPhone6s:  "screen and (min-width:414px) and (min-height:736px)";
$media_iPad:      "screen and (min-width:768px) and (min-height:920px)";
$media_mediumTablets: "screen and (min-width:560px) and (max-width:765px)";
$media_iPad_landscape: "screen and (min-width:900px) and (max-width:1100px) and (min-height:590px) and (max-height:900px)";
//Usage example
//@media #{$media_iPhone4} {
//  width:$goalRoundInnerSize_iPhone4;
//  height:$goalRoundInnerSize_iPhone4;
//}
//
//@media #{$media_iPhone5} {
//  width:$goalRoundInnerSize_iPhone5;
//  height:$goalRoundInnerSize_iPhone5;
//}
//
//@media #{$media_iPhone6} {
//  width:$goalRoundInnerSize_iPhone6;
//  height:$goalRoundInnerSize_iPhone6;
//}

//--------------- Variables ----------------- //
//$navbarColor: #ff5568;
$navbarColor: #d12f2e;
$secondaryTextColor: #5e5e5e;
$secondary: rgb(76, 76, 76);
//------------------------------------------- //

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item-link {
  height: 85px;
  @media #{$media_iPad} {
    height: 95px;
  }
}
.home-menu {
  margin: 0;
}
.page {
  background-color: #c6c6c6;
}
.white {
  background-color: #fff;
}
.redLabel {
  color: $navbarColor;
}
.panel {
  box-shadow: -5px 0 15px 10px rgba(0,0,0,.4);
  background-color: #fff;
}
.panel-overlay {
  background: rgba(0, 0, 0, .3);
  transition: opacity 300ms;
  opacity: 1;
}
.video--playLists {
  position: relative;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  &--elem {
    display: block;
    width: 45.5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 180px;
    color: #333333;
    transition: all 300ms;
    transform: translate3d(0,0,0);
    @media #{$media_iPad} {
      height: 320px;
    }
    @media #{$media_iPad_landscape} {
      height: 320px;
    }
    @media #{$media_mediumTablets} {
      height: 280px;
    }
    &:nth-child(odd) {
      margin-left: 3%;
      margin-right: 1.5%;
    }
    &:nth-child(even) {
      margin-left: 1.5%;
      margin-right: 3%;
    }
    .title {
      display: flex;
      word-wrap: break-word;
      width: 100%;
      height: 30%;
      @media #{$media_iPad} {
        height: 10%;
      }
      @media #{$media_iPad_landscape} {
        height: 10%;
      }
      @media #{$media_mediumTablets} {
        height: 20%;
      }
      overflow: hidden;
      text-overflow: ellipsis;
      font: {
        size: 20px;
        weight: 200;
      }
    }
    .thumbnail {
      width: 100%;
      height: 70%;
      @media #{$media_iPad} {
        height: 90%;
      }
      @media #{$media_iPad_landscape} {
        height: 90%;
      }
      @media #{$media_mediumTablets} {
        height: 80%;
      }
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
      box-shadow: 0 4px 10px 3px rgba(0,0,0,.2);
    }
  }
}

.video--tutorials {
  &--num {
    font-size: 15px;
    color: rgb(105, 105, 105);
    line-height: 50px;
    height: 50px;
    padding-left: 20px;
  }
  &--list {
    position: relative;
    width: 100%;
    list-style-type: none;
    li {
      float: left;
      width: 45.5%;
      margin-bottom: 10px;
      height: 180px;
      @media #{$media_iPad} {
        height: 320px;
      }
      @media #{$media_iPad_landscape} {
        height: 320px;
      }
      @media #{$media_mediumTablets} {
        height: 280px;
      }
      &:nth-child(odd) {
        margin-left: 3%;
        margin-right: 1.5%;
      }
      &:nth-child(even) {
        margin-left: 1.5%;
        margin-right: 3%;
      }
      .title {
        width: 100%;
        height: 40%;
        display: flex;
        @media #{$media_iPad} {
          height: 20%;
          padding-top: 10px;
          font-size: 16px;
        }
        @media #{$media_iPad_landscape} {
          height: 20%;
          padding-top: 10px;
          font-size: 16px;
        }
        @media #{$media_mediumTablets} {
          height: 15%;
          padding-top: 5px;
        }
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
        font: {
          weight: 400;
          size: 14px;
        }
      }
      .thumbnail {
        transform: translate3d(0,0,0);
        transition: all 300ms;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
        width: 100%;
        height: 60%;
        @media #{$media_iPad} {
          height: 80%;
        }
        @media #{$media_iPad_landscape} {
          height: 80%;
        }
        @media #{$media_mediumTablets} {
          height: 75%;
        }
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }
}

.photos--num {
  font-size: 15px;
  color: rgb(105, 105, 105);
  line-height: 50px;
  height: 50px;
  padding-left: 20px;
}
.photoGallery {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
  &--elem {
    width: 45.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 180px;
    @media #{$media_iPad} {
      height: 320px;
    }
    @media #{$media_iPad_landscape} {
      height: 320px;
    }
    @media #{$media_mediumTablets} {
      height: 280px;
    }
    color: #333333;
    transition: all 300ms;
    transform: translate3d(0,0,0);
    &:nth-child(odd) {
      margin-left: 3%;
      margin-right: 1.5%;
    }
    &:nth-child(even) {
      margin-left: 1.5%;
      margin-right: 3%;
    }
  }
  .title {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: 30%;
    @media #{$media_iPad} {
      height: 20%;
      font-size: 22px;
    }
    @media #{$media_iPad_landscape} {
      height: 20%;
      font-size: 22px;
    }
    @media #{$media_mediumTablets} {
      height: 15%;
      font-size: 21px;
    }
    //white-space: nowrap;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    font: {
      size: 19px;
      weight: 200;
    }
  }
  .thumbnail {
    width: 100%;
    height: 70%;
    @media #{$media_iPad} {
      height: 80%;
    }
    @media #{$media_iPad_landscape} {
      height: 80%;
    }
    @media #{$media_mediumTablets} {
      height: 75%;
    }
    box-shadow: 0 4px 10px 2px rgba(0,0,0,.2);
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
  }

  &--photo {
    width: 45.5%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 80px;
    height: 180px;
    @media #{$media_iPad} {
      height: 320px;
    }
    @media #{$media_iPad_landscape} {
      height: 320px;
    }
    @media #{$media_mediumTablets} {
      height: 280px;
    }
    color: #333333;
    &:nth-child(odd) {
      margin-left: 3%;
      margin-right: 1.5%;
    }
    &:nth-child(even) {
      margin-left: 1.5%;
      margin-right: 3%;
    }
    position: relative;
    .title {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -80px;
      height: 70px;
      z-index: 2;
      @media #{$media_iPad} {
        font-size: 18px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 17px;
      }
      @media #{$media_mediumTablets} {
        font-size: 17px;
      }
      font: {
        size: 13px;
        weight: 200;
      }
      word-wrap: break-word;
      overflow: hidden;
      transform: translate3d(0,0,0);
    }
    .thumbnail {
      position: absolute;
      transition: all 300ms;
      transform: translate3d(0,0,0);
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
    }
  }
}

.blog {
  width: 100%;
  position: relative;
  &--item {
    position: relative;
    margin: 30px auto;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
    width: 90%;
    padding: 10px 10px;
    background-color: #fff;
    @media #{$media_iPad} {
      font-size: 18px;
    }
    @media #{$media_iPad_landscape} {
      font-size: 18px;
    }
    @media #{$media_mediumTablets} {
      font-size: 18px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $navbarColor;
      transform: translate3d(0, 0, 0);
    }
    .posted, .author {
      @media #{$media_iPad} {
        font-size: 15px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 15px;
      }
      @media #{$media_mediumTablets} {
        font-size: 15px;
      }
      font: {
        size: 12px;
        weight: 600;
      }
      margin: 5px 0;
      color: $secondary;
    }
    .thumbnail {
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: contain;
      /*width: 80%;*/
      margin: 20px auto;
      height: 150px;
    }
    .title {
      @media #{$media_iPad} {
        font-size: 18px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 18px;
      }
      @media #{$media_mediumTablets} {
        font-size: 18px;
      }
      font: {
        size: 15px;
        weight: 600;
      }
      margin: 10px 0;
    }
    .posted {
      font-weight: 200;
    }
    .snippet {
      margin: 20px 0;
      color: $secondaryTextColor;
    }
  }
}
.blog--container {
  position: relative;
  @media #{$media_iPad} {
    font-size: 18px;
  }
  @media #{$media_iPad_landscape} {
    font-size: 18px;
  }
  @media #{$media_mediumTablets} {
    font-size: 18px;
  }
  blockquote {
    display: none;
  }
  a img {
    display: none;
  }
  a div.img-replace {
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    @media #{$media_iPad} {
      height: 300px;
    }
    @media #{$media_iPad_landscape} {
      height: 300px;
    }
    @media #{$media_mediumTablets} {
      height: 300px;
    }
  }
  img {
    width: 100%;
    @media #{$media_iPad} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
    @media #{$media_iPad_landscape} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
    @media #{$media_mediumTablets} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
  }
  iframe {
    width: 100%;
    @media #{$media_iPad} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
    @media #{$media_iPad_landscape} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
    @media #{$media_mediumTablets} {
      width: 60%;
      height: 60%;
      margin-left: 20%;
    }
  }
  ul {
    list-style: none;
  }
  word-wrap: break-word;
  color: $secondaryTextColor;
  padding: 10px 20px;

}
#blog-content {
  padding-top: 60px;
  .separator {
    transform: translate3d(0,0,0);
  }
}
.swiper-pagination-bullet-active {
  background: red;
}
.swiper-container-horizontal > .swiper-pagination {
  bottom: 0;
}
.books {

  .checkout {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: $secondary;
    font-size: 18px;
    @media #{$media_iPad} {
      font-size: 28px;
    }
    @media #{$media_mediumTablets} {
      font-size: 28px;
    }
  }

  &--main {
    &--slider {
      height: 320px;
      @media #{$media_iPad} {
        height: 480px;
      }
      @media #{$media_iPad_landscape} {
        height: 480px;
      }
      @media #{$media_mediumTablets} {
        height: 480px;
      }
      .swiper-wrapper {
        @media #{$media_iPad} {
          height: 455px;
        }
        @media #{$media_iPad_landscape} {
          height: 455px;
        }
        @media #{$media_mediumTablets} {
          height: 455px;
        }
        height: 295px;
        height: calc(100% - 25px);
      }
    }
    &--slider--slide {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--desc {
      padding: 0 20px;
      @media #{$media_iPad} {
        font-size: 17px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 17px;
      }
      @media #{$media_mediumTablets} {
        font-size: 17px;
      }
      ul {
        width: 90%;
        margin: 20px auto;
        list-style: none;
        li {
          position: relative;
          color: $secondary;
          line-height: 1.667;
          padding-left: 10px;
          &:before {
            content: "";
            position: absolute;
            left: -5px;
            top: 7px;
            transform: translate3d(0, 0, 0);
            background-image: url("img/bullet.png");
            background-size: contain;
            background-position: center center;
            width: 8px;
            height: 8px;
          }
        }
      }
    }
    &--name {
      width: 100%;
      color: #444;
      padding: 10px;
      @media #{$media_iPad} {
        font-size: 32px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 32px;
      }
      @media #{$media_mediumTablets} {
        font-size: 32px;
      }
      font: {
        size: 25px;
        weight: 200;
      }
    }
  }
  &--eBook {
    &--name {
      width: 100%;
      color: $secondaryTextColor;
      padding: 10px;
      @media #{$media_iPad} {
        font-size: 30px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 30px;
      }
      @media #{$media_mediumTablets} {
        font-size: 30px;
      }
      font: {
        size: 22px;
        weight: 200;
      }
    }
    &--image {
      width: 100%;
      height: 320px;
      @media #{$media_iPad} {
        height: 400px;
      }
      @media #{$media_iPad_landscape} {
        height: 400px;
      }
      @media #{$media_mediumTablets} {
        height: 400px;
      }
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--desc {
      padding: 5px 10px;
      @media #{$media_iPad} {
        font-size: 17px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 17px;
      }
      @media #{$media_mediumTablets} {
        font-size: 17px;
      }
    }
  }
}

.courses {
  &--title {
    width: 100%;
    color: #444;
    padding: 10px;
    @media #{$media_iPad} {
      font-size: 32px;
    }
    @media #{$media_iPad_landscape} {
      font-size: 32px;
    }
    @media #{$media_mediumTablets} {
      font-size: 32px;
    }
    font: {
      size: 25px;
      weight: 200;
    }
  }
  &--slider {
    height: 320px;
    @media #{$media_iPad} {
      height: 480px;
    }
    @media #{$media_iPad_landscape} {
      height: 480px;
    }
    @media #{$media_mediumTablets} {
      height: 480px;
    }
    .swiper-wrapper {
      @media #{$media_iPad} {
        height: 455px;
      }
      @media #{$media_iPad_landscape} {
        height: 455px;
      }
      @media #{$media_mediumTablets} {
        height: 455px;
      }
      height: 295px;
      height: calc(100% - 25px);
    }
  }
  &--slider--slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &--desc {
    padding: 0 20px;
    @media #{$media_iPad} {
      font-size: 17px;
    }
    @media #{$media_iPad_landscape} {
      font-size: 17px;
    }
    @media #{$media_mediumTablets} {
      font-size: 17px;
    }
    ul {
      width: 90%;
      margin: 20px auto;
      list-style: none;
      li {
        position: relative;
        color: $secondary;
        line-height: 1.667;
        padding-left: 10px;
        &:before {
          content: "";
          position: absolute;
          left: -5px;
          top: 7px;
          transform: translate3d(0, 0, 0);
          background-image: url("img/bullet.png");
          background-size: contain;
          background-position: center center;
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}

.about {
  width: 100%;
  position: relative;
  &--image {
    width: 100%;
    height: 325px;
    @media #{$media_iPad} {
      height: 420px;
    }
    @media #{$media_iPad_landscape} {
      height: 420px;
    }
    @media #{$media_mediumTablets} {
      height: 420px;
    }
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &--desc {
    width: 100%;
    padding: 10px;
    @media #{$media_iPad} {
      font-size: 17px;
    }
    @media #{$media_iPad_landscape} {
      font-size: 17px;
    }
    @media #{$media_mediumTablets} {
      font-size: 17px;
    }
    p {
      color: $secondary;
      text-indent: 1em;
    }
    h3 {

    }
    ul {
      width: 90%;
      margin: 20px auto;
      list-style: none;
      li {
        position: relative;
        color: $secondary;
        line-height: 1.667;
        padding-left: 10px;
        &:before {
          content: "";
          position: absolute;
          left: -5px;
          top: 7px;
          transform: translate3d(0, 0, 0);
          background-image: url("img/bullet.png");
          background-size: contain;
          background-position: center center;
          width: 8px;
          height: 8px;
        }
      }
    }
  }
}
//icons
i.icon.icon-video {
  width: 60px;
  height: 60px;
  background-image: url("img/1-video-tutorials-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }

}
i.icon.icon-photo {
  width: 60px;
  height: 60px;
  background-image: url("img/2-gallery-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-books {
  width: 60px;
  height: 60px;
  background-image: url("img/3-books-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-courses {
  width: 60px;
  height: 60px;
  background-image: url("img/4-courses-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-blog {
  width: 60px;
  height: 60px;
  background-image: url("img/5-blog-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-materials {
  width: 60px;
  height: 60px;
  background-image: url("img/11-materials-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-fan-art {
  width: 60px;
  height: 60px;
  background-image: url("img/6-fan-gallery.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-about {
  width: 60px;
  height: 60px;
  background-image: url("img/7-about-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-mail {
  width: 60px;
  height: 60px;
  background-image: url("img/8-subscribe-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-back {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23ff5568'%2F%3E%3C%2Fsvg%3E");
}
i.icon.icon-menu {
  width: 44px;
  height: 44px;
  background-image: url("img/side-menu.png");
}
i.icon.icon-more {
  width: 60px;
  height: 60px;
  background-image: url("img/9-other-apps-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-vip {
  width: 60px;
  height: 60px;
  background-image: url("img/10-vip-icon.png");
  @media #{$media_iPad} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_iPad_landscape} {
    width: 80px;
    height: 80px;
  }
  @media #{$media_mediumTablets} {
    width: 80px;
    height: 80px;
  }
}
i.icon.icon-pinterest {
  width: 26px;
  height: 26px;
  background-image: url("img/icon-pinterest.svg");
}
i.icon.icon-download {
  width: 32px;
  height: 32px;
  background-image: url("img/icon-download.svg");
}
i.icon.icon-share {
  width: 32px;
  height: 32px;
  background-image: url("img/icon-share.svg");
}
.navbar .left span {
  color: $navbarColor;
}
/*--------------- authorizator ---------------*/
.authorizator {
  position: relative;
  width: 100%;
  height: 64px;
  transition: all 300ms;
  .flickr {
    font: {
      weight: 600;
    }
  }
  &.authorizator__un {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font: {
      size: 15px;
    }
    .sign {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(odd) {
        border-right: 1px solid rgba(0,0,0,.3);
      }
    }
  }
  &.authorizator__in {
    background-color: $navbarColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .info {
      width: 75%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &--avatar {
        margin: 0 8px;
        height: 44px;
        width: 44px;
        border-radius: 50%;
        display: inline-block;
        float: left;
        background-color: $navbarColor;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      &--names {
        display: inline-block;
        float: left;
        width: calc(100% - 60px);
        color: #ffffff;
        .userName, .realName {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .realName {
          font: {
            weight: 300;
            size: 15px;
          }
        }
        .userName {
          font: {
            weight: 600;
            size: 15px;
          }
        }
      }
    }
    .upload {
      width: 25%;
      height: 100%;
      background-color: transparent;
      background-image: url("img/upload-picture.png");
      background-size: 40px;
      background-position: 80% center;
      background-repeat: no-repeat;
      transition: opacity 300ms;
      &.active-state {
        opacity: .4;
        transition: opacity 0ms;
      }
    }
    .buttons {
      width: 25%;
      height: 100%;
      background-color: transparent;
      background-image: url("img/arrow.png");
      background-size: 40px;
      background-position: 80% center;
      background-repeat: no-repeat;
      transition: opacity 300ms;
      &.active-state {
        opacity: .4;
        transition: opacity 0ms;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: translate3d(0,0,0) scale(1,.5);
    background: #c4c4c4;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: translate3d(0,0,0) scale(1,.5);
    background: #c4c4c4;
  }
  &.active-state {
    opacity: .8;
    transition: all 0ms;
  }
}
//------------------------------------------- //


/*----------------subnavbar-------------------*/
.subnavbar {
  background-color: $navbarColor !important;
  position: relative;
  margin-top: 56px;
  height: 44px;
}
.subnavbar-button {
  background-color: $navbarColor;
  color: #fff;
  border: 1px solid #fff !important;
  height: 36px;
  font-size: 12px;
  white-space: pre-wrap;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
}
.hide-my-uploads-button {
  display: none;
}
.flexcenter {
    position:  relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.tabs-buttons-row {
  width: 100%;
  height: 36px;
}
.button.active {
  background-color: #fff;
  color: $navbarColor;
}

//------------------------------------------- //

.page-content__fanArtGallery {
  background-color: #fff;
}
/*--------------- fanArtList ---------------*/
.fanArtList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  &--elem {
    display: inline-block;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5px;
    //margin-bottom: 5px;
    height: 75px;
    @media #{$media_iPad} {
      height: 130px;
    }
    @media #{$media_iPad_landscape} {
      height: 130px;
    }
    @media #{$media_mediumTablets} {
      height: 130px;
    }

    color: #333333;
    background-color: rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
    .thumbnail {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      background-size: cover;
    }
  }
}

.content-block-tab {
  margin: 35px 0;
  padding: 0;
}
//------------------------------------------- //

/*--------------- fanArt--card ---------------*/
.fanArt--card {
  background-color: #fff;
  position: relative;
  .author {
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 54px;
    &--avatar {
      height: 100%;
      width: 44px;
      background-color: $navbarColor;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 8px;
      border-radius: 6px;
      flex-basis: 44px;
    }
    &--names {
      font-size: 14px;
      height: 100%;
      flex-basis: calc(55% - 60px);
      margin-right: 10px;
      &--nick, &--real {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &--nick {
        font-weight: 500;
      }
      &--real {
        font-weight: 200;
      }
    }
    &--date {
      flex-basis: calc(45% - 52px);
      font-weight: 200;
      margin-right: 8px;
    }
  }
  &--image {
    height: 260px;
    width: calc(100% - 8px);
    margin: 0 auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &--title {
    padding: 0 12px;
    margin-top: 10px;
    font: {
      size: 18px;
      weight: 600;
    }
  }
  &--desc {
    padding: 0 12px;
    margin-top: 10px;
    color: $secondaryTextColor;
    font: {
      size: 16px;
      weight: 300;
    }
  }
}
//------------------------------------------- //

/*--------------- commentBlock ---------------*/
.commentBlock {
  width: 92%;
  margin: 24px auto;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
 &--arrow {
   position: absolute;
   transform: translate3d(0,0,0);
   width: 0;
   height: 0;
   border-style: solid;
   border-width: 0 12px 14px 12px;
   border-color: transparent transparent #ffffff transparent;
   top: -14px;
   left: 35px;
 }
  .noComment {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: {
      weight: 400;
      size: 17px;
    };

  }
  .comment {
    width: 100%;
    padding: 12px;
    //padding-bottom: 12px;
    //margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    position: relative;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #c4c4c4;
      transform: translate3d(0,0,0) scale(1, .5);
    }
    &--avatar {
      width: 44px;
      height: 44px;
      margin-right: 12px;
      border-radius: 6px;
      background-color: $navbarColor;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &--textField {
      width: calc(100% - 56px);
      font-size: 16px;
      .author {
        font-weight: 600;
      }
      .content {
        font-weight: 200;
        word-wrap: break-word;
      }
      .posted {
        font-size: 14px;
        font-weight: 300;
        color: $secondaryTextColor;
      }
    }
  }

  .postComment {
    width: 100%;
    height: 80px;
    position: relative;
    padding: 12px;
    &.postComment__un {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &.postComment__in {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      .avatar {
        width: 44px;
        height: 44px;
        margin-right: 12px;
        border-radius: 6px;
        background-color: $navbarColor;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .input {
        width: calc(100% - 56px);
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        textarea {
          height: 100%;
          width: 60%;
          outline: none;
          border: none;
          resize: none;
          padding: 3px;
          font: {
            size: 16px;
          }
        }
        .submit {
          width: 40%;
          height: 100%;
          border-radius: 4px;
          border: 1px solid rgba(0,0,0,.2);
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #c4c4c4;
      transform: translate3d(0,0,0) scale(1, .5);
    }
  }
}
//------------------------------------------- //

.upload-form {
  .upload-photo {
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.splashScreen {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5800;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate3d(0,0,0);
  opacity: 1;
  animation: splash-away 4500ms forwards;
  .wrapper {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .img {
      opacity: 0;
      width: 240px;
      height: 240px;
      border-radius: 50%;
      transition: opacity 300ms;
      background-color: #ffffff;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    .author {
      color: $navbarColor;
    }
  }
}
.actions-modal-button {
  font-size: 20px;
}
.actions-modal-button.color-red {
  font-size: 20px;
}
.actionsPanel {
  height: 54px;
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  //flex-wrap: wrap;
  position: relative;
  &--button {
    &.active-state {
      opacity: .5;
    }
    position: relative;
    height: 100%;
    width: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    &.like {
      background-size: 32px;
      .numberOfLikes {
        position: absolute;
        top: -15px;
        left: 0;
        width: 100%;
        text-align: center;
        color: $secondaryTextColor;
      }
    }
    &.share {
      background-size: 36px;
      background-image: url("img/icon-share.svg");
    }
    &.report {
      background-size: 32px;
      background-image: url("img/icon-report.svg");
    }
    .text {
      position: absolute;
      width: 100%;
      text-align: center;
      top: -15px;
      color: $secondaryTextColor;
    }
  }
}

@keyframes splash-away {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    visibility: visible;
  }
  84% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    visibility: visible;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale(1.35);
    visibility: hidden;
  }
}
.default-user-avatar {
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.sub {
  .sub--head {
    position: relative;
    width: 100%;
    height: 190px;
    @media #{$media_iPad} {
      height: 320px;
    }
    @media #{$media_iPad_landscape} {
      height: 290px;
    }
    @media #{$media_mediumTablets} {
      height: 320px;
    }
    @media #{$media_iPhone4} {
      height: 140px;
    }
    @media #{$media_iPhone6} {
      height: 250px;
    }
    background-color: transparent;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/sub-image.jpg");
    z-index: 1;
    box-shadow: inset 0 -4px 12px 1px rgba(0, 0, 0, .5);
    &--arrow {
      position: absolute;
      transform: translate3d(0,0,0);
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12px 14px 12px;
      border-color: transparent transparent #ffffff transparent;
      bottom: 0;
      right: 80px;
      z-index: 2;
    }
  }
  &--join {
    width: 100%;
    height: 60px;
    @media #{$media_iPad} {
      height: 100px;
      font-size: 30px;
      line-height: 100px;
    }
    @media #{$media_iPad_landscape} {
      height: 100px;
      font-size: 30px;
      line-height: 100px;
    }
    @media #{$media_mediumTablets} {
      height: 100px;
      font-size: 30px;
      line-height: 100px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font: {
      size: 24px;
      weight: 200;
    };
    text-align: center;
    @media #{$media_iPhone4} {
      height: 50px;
      line-height: 50px;
    }
  }
  &--text {
    position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 8%;
    @media #{$media_iPad} {
      padding: 0 18%;
      font-size: 19px;
    }
    @media #{$media_iPad_landscape} {
      padding: 0 18%;
      font-size: 19px;
    }
    @media #{$media_mediumTablets} {
      padding: 0 18%;
      font-size: 19px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #c0c0c0;
      left: 50%;
      top: 0;
      margin-left: -15px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      left: 50%;
      bottom: -15px;
      margin-left: -15px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("img/sub-red-arrow.png");
    }
  }
  &--form {
    margin-top: 25px;
    &--input {
      width: 80%;
      @media #{$media_iPad} {
        width: 60%;
        height: 50px;
      }
      @media #{$media_iPad_landscape} {
        width: 60%;
        height: 50px;
      }
      @media #{$media_mediumTablets} {
        width: 60%;
        height: 50px;
      }
      height: 32px;
      margin: 10px auto;
      border-radius: 6px;
      overflow: hidden;
      border: 1px solid #959595;
      transition: all 900ms;
      &.error {
        box-shadow: 0 0 20px 1px rgba(255,80,80, .7);
      }
      input {
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        padding: 0 10px;
        @media #{$media_iPad} {
          font-size: 18px;
        }
        @media #{$media_iPad_landscape} {
          font-size: 18px;
        }
        @media #{$media_mediumTablets} {
          font-size: 18px;
        }
        font: {
          size: 16px;
          weight: 200;
        }
        text-align: center;
      }
    }
  }
  &--accept {
    width: 70%;
    height: 55px;
    margin: 10px auto;
    border-radius: 6px;
    color: $navbarColor;
    border: 1px solid rgba(10, 10, 10, .2);
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .1);
    line-height: 55px;
    text-align: center;
    font: {
      size: 18px;
      weight: 200;
    }
    transition: opacity 300ms;
    @media #{$media_iPad} {
      font-size: 20px;
      width: 55%;
      margin: 25px auto;
    }
    @media #{$media_iPad_landscape} {
      font-size: 20px;
      width: 55%;
      margin: 25px auto;
    }
    @media #{$media_mediumTablets} {
      font-size: 20px;
      width: 55%;
      margin: 25px auto;
    }
    &.active-state {
      opacity: .7;
      transition: opacity 0ms;
    }
  }
}
.other {
  &--head {
    width: 100%;
    background-image: linear-gradient(90deg, #d64141, #c53c3c);
    position: relative;
    &--title {
      width: 55%;
      padding: 10px;
      color: #ffffff;
      text-shadow: 0 1px 5px rgba(0,0,0,.1);
      @media #{$media_iPad} {
        font-size: 36px;
      }
      @media #{$media_iPad_landscape} {
        font-size: 36px;
      }
      @media #{$media_mediumTablets} {
        font-size: 36px;
      }
      font: {
        size: 22px;
        weight: 100;
      }
      &--dev {
        color: #D6D6C4;
        width: 100%;
        text-align: right;
        padding: 0 10px 0 10px;
        text-shadow: 0 1px 5px rgba(0,0,0,.1);
        @media #{$media_iPad} {
          font-size: 24px;
        }
        @media #{$media_iPad_landscape} {
          font-size: 24px;
        }
        @media #{$media_mediumTablets} {
          font-size: 24px;
        }
        font: {
          size: 13px;
          weight: 100;
        }
      }
    }
    &--arrow {
      position: absolute;
      bottom: -20px;
      right: 35px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 15px 0 15px;
      border-color: #c53c3c transparent transparent transparent;
    }
  }
  &--card {
    position: relative;
    &--title {
      margin-top: 15px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      line-height: 1.2;
      word-wrap: break-word;
      color: $secondaryTextColor;
      font: {
        size: 24px;
        weight: 200;
      }
      padding-left: 20px;
    }

    &--cont {
      display: flex;
      flex-direction: row;
      .icon {
        width: 30%;
        width: 120px;
        .cont {
          width: 80px;
          height: 80px;
          margin-left: 20px;
          box-shadow: 0 0 10px 2px rgba(0,0,0, .2);
          border-radius: 5px;
          overflow: hidden;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .info {
        width: 70%;
        width: calc(100% - 120px);
        font-size: 13px;
        &--title {
          height: 40px;
          line-height: 40px;
          font: {
            weight: 500;
          }
        }
        &--text {
          line-height: 1.3;
          @media #{$media_iPad} {
            font-size: 16px;
          }
          @media #{$media_iPad_landscape} {
            font-size: 16px;
          }
          @media #{$media_mediumTablets} {
            font-size: 16px;
          }
          color: $secondary;
          font: {
            weight: 200;
          }
          padding: 6px;
        }
      }
    }

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate3d(0,0,0) scale(1,.5);
      background: #c4c4c4;

    }
  }
}
.vip {
  &--list {
    position: relative;
    width: 90%;
    height: 150px;
    @media #{$media_iPad} {
      height: 350px;
    }
    @media #{$media_iPad_landscape} {
      height: 350px;
    }
    @media #{$media_mediumTablets} {
      height: 350px;
    }
    margin: 20px auto;
    display: block;
    .thumb {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0,0,0);
      z-index: 1;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      box-shadow: 0 0 12px 1px rgba(0, 0, 0, .5);
      filter: brightness(90%);
    }
    .title {
      position: absolute;
      width: 100%;
      height: 50px;
      line-height: 50px;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .7);
      z-index: 5;
      text-align: center;
      font: {
        size: 21px;
        weight: 200;
      }
      color: #ffffff;
    }
  }

  &--fetcher {
    margin: 60px auto;
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transform: translate3d(0,0,0);
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, .5);
    text-align: center;
    font: {
      size: 20px;
      weight: 200;
    }
    transition: opacity 300ms;
    &.active-state {
      opacity: .6;
      transition: opacity 0ms;
    }
  }
}
.yt-sub {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0);
  &__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/sub-bg.jpg");
    background-position: center;
    z-index: 5;
    filter: blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(0, 0, 0);
  }
  &__darker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(10, 10, 10, .2);
    transform: translate3d(0, 0, 0);
  }
  &__container {
    z-index: 120;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, .4);
    transform: translate3d(0, 0, 0);
  }
}

.trial {
  z-index: 9999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 45px;
  color: #444444;
  background-color: #fff;
  &.visible {
    display: flex;
  }
}

.photo-browser-dark .navbar.transparent {
  background-color: transparent;
}

.virtualList {
  width: 100%;
}

.close-transparent {
  background-color: rgba(0,0,0, .3);
  padding: 0 10px 0 10px;
}
